/**** Variables ****/

:root {
  --primary-color: #dee2f7;
  --secondary-color: rgb(255, 255, 255);
  --complimentary-color: #f7f3de;
  --monochromatic-color: #b5beed;
  --first-triadic-color: #f7dee2;
  --second-triadic-color: #e2f7de;
  --main-background-color: rgba(255, 255, 255, 0.7);
  --box-shadow-color: rgba(186, 186, 186, 0.7);
}

/**** GLOBALS ****/

html,
body {
  /* height: 100%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  /* font-size: calc(15px + .3vw); */
  width: 100vw;
  /* height: 100vh; */
  background-image: url("./img/low-poly-grid-haikei.svg");
  background-attachment: fixed;
  background-size: cover;
  /* no-repeat optional */
  background-repeat: no-repeat;
  /* padding: 0 15%; */
}
/* OPTION: make the background image
like you did the overlay div, so the
image doesn't repeat */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2 {
  margin-bottom: 2rem !important;
}

#root,
#__next {
  isolation: isolate;
}

header,
main {
  position: relative;
  z-index: 100;
}

.d-flex {
  display: flex;
}

/**** BLUR ****/

.body-background-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: var(--main-background-color);
  backdrop-filter: blur(100px) hue-rotate(0deg);
}

/**** HEADER ****/

header {
  height: 20vh;
}

.navigation {
  height: 100%;
  /* padding: 0 30px 0 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
}

.logo {
  margin-left: 19%;
}

/**** MAIN ****/

.main-content-container {
  height: 100vh;
  /* width: 100vw; */
}

.h1-section-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* optional m-b */
  margin-bottom: 20vh;
}

.h1-section-container h1 {
  font-size: 2.3rem;
}

.sub-heading {
  font-size: 1.5rem;
}

.linkedin-profile {
  color: black;
  position: relative;
  text-decoration: none;
}

.linkedin-profile::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #333;
  transition: all 0.2s ease;
}

.linkedin-profile:hover::before {
  width: 100%;
}

.linkedin-profile:visited {
  color: black;
}

.right-arrow {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.gradient-blob {
  width: 325px;
  height: 325px;
  border-radius: 15rem;
  background: radial-gradient(105.68% 45.69% at 92.95% 50%, rgba(105, 244, 253, 0.5) 0%, rgba(160, 255, 244, 0.095) 53.91%, rgba(254, 216, 255, 0) 100%), radial-gradient(103.18% 103.18% at 90.11% 102.39%, #e2f7de 0%, rgba(230, 255, 250, 0) 100%), radial-gradient(90.45% 90.45% at 87.84% 9.55%, #FFD2F5 0%, rgba(254, 219, 246, 0) 100%), linear-gradient(135.66deg, rgba(203, 185, 255, 0.8) 14.89%, rgba(216, 202, 254, 0) 74.33%);
  background-blend-mode: normal,normal,normal,normal,normal,normal;
  filter: blur(35px);
  position: absolute;
  z-index: -1;
}

/**** CARD COMPONENT ****/

/* test */
.project-section {
  width: 100%;
  height: 100vh;
  /* margin-bottom: 5rem; */
}

.project-section__heading {
  /* width: 70.5%;
  margin: 0 auto; */
  text-align: center;
}

.display-none {
  display: none !important;
}

.card-component-section-container, .primary-project-container, .secondary-project-container {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  /* gap: 10%; */
}

.card {
  /* width: 450px; */
  /* width: 37.532%; */
  width: 28.125rem;
  /* min-width: 150px !important; */
  height: 80%;
  /* exploring a white bg */
  /* background-color: ghostwhite; */
  /* padding: 200px 125px 200px 125px; */
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0 var(--box-shadow-color);
  text-align: center;
}

.card-main-subject {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-main-subject img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-info {
  background-color: var(--main-background-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.card-info__link {
  color: black;
  text-decoration: none;
}

.card-info__link:visited {
  color: black;
}

.card-info__link:hover {
  color: var(--monochromatic-color);
}

.primary-project-container__about, .secondary-project-container__about {
  width: 370px;
}

/**** ABOUT ME ****/

.about-me-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 4rem; */
}

.about-me-container__heading {
  text-align: center;
}

.about-me-card {
  width: 60%;
  height: 60%;
  transition: all .2s ease-in-out;
  /* background-color: ghostwhite; */
  /* the rgba was exploring contrast */
  background: var(--main-background-color);
  border-radius: 5px;
  box-shadow: 0 0 30px 0 var(--box-shadow-color);
  display: flex;
  align-items: center;
}
/* I may not want a card for my pfolio
I may just want about-me section
to sit on the bg: remove shadow */

.about-me-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.about-me-info {
  width: 50%;
  height: 100%;
  /* dflex or margin: 0 auto? */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-info p {
  width: 60%;
}

/**** SKILLS ****/

.skills-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative;
  overflow: hidden; */
}

.skills-container__heading {
  text-align: center;
}

.skills-control {
  /* position: relative;
  z-index: 1;
  padding: 0 0;
  overflow: auto; */
}

.skills-list {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: calc(65% + 10px);
  padding: 0;
  margin: 0 auto;
}

.skills-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100px;
  height: 130px;
  flex: 1 1 calc(14% - 10px);
  background-color: var(--main-background-color);
  border: 1px solid var(--monochromatic-color);
  border-radius: 12px;
  padding: 35px 35px 30px 35px;
}

.skills-icon img {
  width: 100px;
  height: 100px;
}

.skills-icon p {
  font-size: 1rem;
}

/**** CONTACT ME ****/

.contact-form-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-card {
  /* background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(135deg, hsla(230, 61%, 82%, 1) 0%, hsla(0, 0%, 100%, 0.5) 100%);
  background: -moz-linear-gradient(135deg, hsla(230, 61%, 82%, 1) 0%, hsla(0, 0%, 100%, 0.5) 100%);
  background: -webkit-linear-gradient(135deg, hsla(230, 61%, 82%, 1) 0%, hsla(0, 0%, 100%, 0.5) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#B5BEED", GradientType=1 ); */
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--main-background-color); */
  /* box-shadow: 0 0 30px 0 var(--box-shadow-color); */
  /* border: 1px solid; */
  border-radius: 5px;
  max-width: 940px;
}

.contact-form {
  width: 75%;
  /* width: 70%; */
  /* height: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid; */
  /* border: 1px solid var(--main-background-color);
  border-radius: 5px; */
}

.email-group, .message-group, .contact-form__button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.contact-form label {
  font-weight: 600;
}

.contact-form input, .contact-form textarea {
  /* background-color: var(--main-background-color); */
  /* border: 2px solid var(--monochromatic-color); */
  /* border: 1px solid black; */
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: white;
  outline-color: var(--monochromatic-color);
}

.email-group input {
  width: 100%;
}

.message-group {
  margin-top: 1rem;
}

/* .contact-form-img-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 7.5%; */
/* } */ */
/* 
.contact-form-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.message-success {
  background-color: var(--second-triadic-color);
  border: 1px solid var(--second-triadic-color);
  border-radius: 5px;
  margin-top: 1rem;
  padding: 5px 10px;
  width: 100%;
}

.message-error {
  background-color: var(--first-triadic-color);
  border: 1px solid var(--first-triadic-color);
  border-radius: 5px;
  margin-top: 1rem;
  padding: 5px 10px;
  width: 100%;
}

.contact-form button {
  color: black;
  width: 20%;
  height: 3rem;
  margin-top: 1.5rem;
  cursor: pointer;
  /* background-color: var(--monochromatic-color); */
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.contact-form button:hover {
  border-color: var(--monochromatic-color);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

/***** MEDIA QUERIES *****/

/* XX Large */
@media (min-width: 1921px) {
  .main-content-container {
    max-width: 1920px;
  }
}

/* X Large */
@media (max-width: 1199px) {
  body {
    /* padding: 0 7.5%; */
  }
  .card {
    /* width: 50%; */
  }
  .primary-project-container, .secondary-project-container {
    flex-direction: column;
  }
  .primary-project-container__about, .secondary-project-container__about {
    display: none;
  }
  .about-me-card {
    width: 45rem;
    height: 40%;
  }
  .about-me-info p {
    width: 85%;
  }
}

/* Large */
@media (max-width: 991px) {
  .logo {
    margin-left: 13%;
  }
  .card {
    /* width: 50%; */
  }
  /* stack about-me card */
  .about-me-card {
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* justify-content: center; */

    justify-content: space-around;
  }
  .about-me-image {
    width: 178.5px;
    height: 178.5px;
    border-radius: 100%;
    margin-top: 3rem;
  }
  .about-me-info {
    width: auto;
    height: 50%;
  }
  .contact-form-card {
    width: 85%;
  }
}

/* Medium */
@media (max-width: 767px) {
  .about-me-image {
    margin-top: 1rem;
  }
  .skills-container {
    height: auto;
  }
  .skills-icon {
    /* flex: 1 1 calc(26% - 10px);
    padding: 36px 50px 32px 50px; */
    padding: 16px 30px 12px 30px;
    height: 100px;
  }
  .skills-icon img {
    max-width: 50px;
    max-height: 50px;
  }
  .skills-icon:nth-last-child(-n+2) {
    flex: 0 0 calc(34% - 10px);
  }
  .skills-icon:nth-child(13) {
    margin-left: auto;
  }
  .skills-icon:nth-child(14) {
    margin-right: auto;
  }
  .contact-form button {
    min-width: 75px;
  }
}

/* Small */
@media (max-width: 575px) {
  .h1-control-wrapper {
    width: 70%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .card {
    width: 50%;
  }
  .about-me-card {
    width: 75%;
    gap: 2rem;
    justify-content: center;
  }
  .about-me-image {
    width: 125px;
    height: 125px;
    margin-top: 0;
  }
  .about-me-info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 14;
    overflow: hidden;
  }
  .skills-icon {
    padding: 10px 25px 10px 25px;
    width: 86px;
    height: 90px;
  }
  .skills-icon:nth-child(10), .skills-icon:nth-last-child(1) {
    padding: 30px 20px;
    /* padding: 20px 30px; */
    gap: 4px;
  }
  .firebase-icon, .comm-icon {
    padding: 12px 5px 3px 5px;
    /* width: 34px;
    height: 44px; */
  }
  .skills-icon p {
    font-size: .9rem;
  }
}

/* X Small: Edge Case */
@media (max-width: 412px) {
  /* resize skills grid & icons */
  .skills-icon {
    flex: 1 1 calc(29% - 10px);
  }
  .skills-icon img {
    width: 60%;
  }
  .skills-icon:nth-child(13) {
    margin-left: 0;
    flex: 1 1 calc(29% - 10px);
  }
  .skills-icon:nth-child(14) {
    margin-right: 0;
    flex: 1 1 calc(29% - 10px);
  }
}
@media (max-width: 400px) and (max-height: 670px) {
  /* about me card */
  .about-me-card {
    height: 70%;
    justify-content: flex-start;
    gap: 3.5rem;
  }
  .about-me-image {
    width: 100px;
    height: 100px;
    margin-top: .5rem;
  }
}