div.blog-post-body p,
div.blog-post-body h2,
div.blog-post-body h3,
div.blog-post-body img,
div.blog-post-body ul {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  div.blog-post-body p,
  div.blog-post-body h2,
  div.blog-post-body h3,
  div.blog-post-body img,
  div.blog-post-body ul {
    margin-bottom: 1.75rem;
  }
}

div.blog-post-body p:has(+ ul) {
  margin-bottom: .5rem;
}

div.blog-post-body p:last-child {
  margin-bottom: 0;
}
