@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 
  ** gray 50: #f9fafb / hsl(210, 20%, 98%)
  ** gray 100: #f3f4f6 / hsl(220, 14%, 96%)
  ** gray 200: #e5e7eb / hsl(220, 13%, 91%)
  ** gray 300: #d1d5db / hsl(216, 12%, 84%)
  ** gray 400: #9ca3af / hsl(218, 11%, 65%)
  ** gray 500: #6b7280 / hsl(220, 9%, 46%)
  ** gray 600: #4b5563 / hsl(215, 14%, 34%)
  ** gray 700: #374151 / hsl(217, 19%, 27%)
  ** gray 800: #1f2937 / hsl(215, 28%, 17%)
  ** gray 900: #111827 / hsl(221, 39%, 11%)
  ** gray 950: #030712 / hsl(224, 71%, 4%)
  */
  :root {
    --background: 210 20% 98%; /* gray 50 */
    --foreground: 224 71% 4%; /* gray 950 */
    --card: 220 13% 91%; /* gray 200 */
    --card-foreground: 224 71% 4%; /* gray 950 */
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 215 28% 17%; /* gray 800 */
    --primary-foreground: 210 20% 98%; /* gray 50 */
    --secondary: 220 13% 91%; /* gray 200 */
    --secondary-foreground: 224 71% 4%; /* gray 950 */
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 9% 46%; /* gray 500 */
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 218 11% 65%; /* gray 300 */
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 221 39% 11%;
    --foreground: 210 20% 98%;
    --card: 215 28% 17%;
    --card-foreground: 220 13% 91%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 216 12% 84%;
    --primary-foreground: 224 71% 4%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 220 13% 91%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 220 9% 46%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 0 0% 45%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  [role="tablist"] > [aria-selected="true"] {
    @apply border-b-2 border-b-primary rounded-none -mb-2;
  }
  .bg-card li, .expandable li {
    list-style-position: inside;
  }
  .expandable li {
    list-style-type: disc;
    margin-bottom: 1rem;
  }
  .blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6{
    font-weight: bold;
    line-height: 1.25;
  }
  .section-heading {
    margin-bottom: 1rem;
    text-wrap: balance;
  }
  code {
    @apply bg-secondary rounded text-destructive text-base;
    padding: 0.1rem;
    vertical-align: middle;
  }
}

body.__className_36bd41[data-scroll-locked="1"] {
  overflow: auto !important;
  overscroll-behavior: auto !important;
  position: relative !important;
  padding-left: 2rem !important;
  padding-top: 0px !important;
  padding-right: 2rem !important;
  margin-left: auto !important;
  margin-top: 0 !important;
  margin-right: auto !important;
}